/* Global styles */
body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color:#eee;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    font-weight: bold;
    transition: color 0.2s;
    color: #000;
  }
  
  nav a:hover {
    color: #777;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    margin-top: 0;
    color:#fff;
    padding: 20px;
    /*background-color: #444;*/
    background-color: #eb35cc;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="text"],
  textarea {
    background-color: #eee;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #444;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Specific styles for each page */
  #index {
    background-color: #333;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #index h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  #index p {
    font-size: 24px;
    margin-bottom: 50px;
    color: #ddd;
  }
  
  #about h2:first-of-type,
  #contact h2:first-of-type {
    margin-top: 0;
    color: #333;
  }
  
  #about p:last-of-type,
  #contact p:last-of-type {
    margin-bottom: 0;
  }
  
  #contact form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: none;
    border-color: #777;
  }
  
  @media only screen and (max-width: 768px) {
    main {
      padding: 10px;
    }
}